<!doctype html>
<head>
    <title>title of the page</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<div class="container">
    {% include "nav.njk"%}
    <div class="content_container">

    {% include "sidebar.njk"%}
    {% include "content.njk"%}
    </div>

    {% include "footer.njk"%}
</div>