<aside class="sidebar">
    {%- for post in collections.contents -%}
        <a href="#" data-content="{{ post.templateContent | safe }}" data-title="{{ post.data.title }}">
            {{ post.data.title }}
        </a>
    {%- endfor -%}
</aside>